
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.slider-button{
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.slider-input{
  /* position: absolute; */
  /* border: 2px solid black; */
  width: 25vw;
  
}

.tick-container{
  display: grid;
  grid-template-columns: repeat(9, auto);
}

.tick-container > *{
  border-right: solid black 1px;

  height: 10px;
}

.tick-container>*:first-child{
  border-left: solid black 1px;
}